*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: 'Roboto Mono', monospace;
    color: black;
    
    }
    body{
    background-color: #ffeb88;
    }
    header a{
    text-decoration:none;
    }

   main a{
    text-decoration:underline;
   }


    /* HEADER*/

header{
    display:flex;
    justify-content:space-around;
    display:flex;
    justify-content:space-around;
    align-items: center;
    height:200px;   
    }


    header a:hover{
    font-size: 17px;
    }
    
    
    /* DROP DOWN MENU */
    .dropdown {
    position: relative;
    display: inline-block;

    }
      
    .dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border: 2px solid black;
    background-color: white;
    left:0;

    }
      
    .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    }
       
    .dropdown:hover .dropdown-content {
    display: block;
    }
      
    .dropdown:hover .dropbtn {
    border: 2px solid black; 
    padding:10px
    }
    .dropbtn:hover{
    font-size:17px;
    }
    
    /* DROPDOWN MENU SLUT*/

  /* GÆLDER ALLE SIDER*/
main{ 
   padding-top: 60px;
   padding-bottom: 60px;
   padding-left: 30px;
   padding-right:30px;
   width:1100px;
   margin-left:200px;

    background-color: white;
    }
main #overskrift{
padding-top:50px;
padding-bottom:40px;
padding-left: 10px;
padding-right:10px;
text-align: center;
}

main p{
padding-top:10px;
padding-bottom:10px;
}
main li{
padding-top:10px;
padding-bottom:10px;
margin-left:30px;
}
main h3{

padding-top:15px;
padding-bottom:15px; 
}
#billedehøjre{
  float:right;
  }
/*GÆLDER ALLE SIDER SLUT*/
/*GÆLDER ARTIKEL*/

main #intro{
font-style: italic;
}
#madplan{
margin-left:70px;
}

/*GÆLDER OPSKRIFTER*/



.tracking{
  display: flex;
  justify-content:space-around;
}

#instruktioner{
  border-bottom:1px solid black;
}
.instruktioner2{
  margin-left:30px;
  margin-right:30px;
}
.instruktioner2 li{
margin-top: 25px;
margin-left: 25px
}
.ingredienserpandekager{
padding-bottom:195px;
border-bottom:1px solid black;

}
/* PANDEKAGER*/
.ingredienserpandekager h3{
  border-bottom:1px solid black;
}
.ingredienserpandekager #billedehøjre{
width: 450px;
height: 400px;}


.ingredienserpandekager{
padding-bottom:195px;
border-bottom:1px solid black;
}
.ingredienserpandekager h3{
  border-bottom:1px solid black;
}
.ingredienserpandekager #billedehøjre{
width: 450px;
height: 400px;
}

/*OMELETTE*/

  .ingredienseromelette h3{
  border-bottom:1px solid black;
}
.ingredienseromelette #billedehøjre{
width: 450px;
height: 400px;}


.ingredienseromelette{
padding-bottom:93px;
border-bottom:1px solid black;
}
.ingredienseromelette h3{
  border-bottom:1px solid black;
}
.ingredienseromelette #billedehøjre{
width: 450px;
height: 400px;
}

/*BURRITO*/ 
.ingredienserburrito h3{
  border-bottom:1px solid black;
}
.ingredienserburrito #billedehøjre{
width: 450px;
height:410px;}


.ingredienserburrito{
border-bottom:1px solid black;
}
.ingredienserburrito h3{
  border-bottom:1px solid black;
}
.ingredienserburrito #billedehøjre{
width: 450px;
height: 400px;
}



/* BOOK EN RÅDGIVER*/

#sketch{
  width:80%;
  margin-right:10%;
  margin-left: 10%;
}
#sketchoverskrift{
margin-top: 30px;
margin-bottom: 30px;
text-align: center;
}
    /* FOOTER*/
  
  #socialemedier{
    display: flex;
    justify-content:space-between;
  }
  
footer{
    display: flex;
    justify-content: space-around;
    margin-bottom:20px;
    margin-top:20px;
    padding-top:10px;
    border-top:2px dotted black;
    }
    
    footer a:hover{
     color: white;
     font-size:17px;
    }