*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: 'Roboto Mono', monospace;
    color: azure;
}

body{
background-image:url("forsideimg/forside.jpg");
background-repeat: no-repeat;
background-attachment: fixed;
background-position: center;
background-size: cover;
}
body a{
    text-decoration:none;
}



header{
display:flex;
justify-content:space-around;
align-items: center;
background-color:#292920;
height:200px;
}


/* links styling*/ 

header a:hover{
color: #ffeb88;
font-size: 17px;
}

/* drop down menu*/
.dropdown {
     position: relative;
     display: inline-block;
  }
  
  .dropdown-content {
     display: none;
     position: absolute;
     right: 0;
     background-color: #f9f9f9;
     min-width: 160px;
     box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
     z-index: 1;
     left:0;
  }
  
.dropdown-content a {
     color: black;
     padding: 12px 16px;
     text-decoration: none;
     display: block;
}
  
.dropdown-content a:hover {background-color:#292920;}
  
.dropdown:hover .dropdown-content {
     display: block;
}
  
.dropdown:hover .dropbtn {
      border: 2px solid white; 
}

.dropbtn{
background-color:none;
font-family:'Roboto Mono', monospace;
padding:5px;

}

.dropbtn:hover{
     color: #ffeb88;
     font-size:17px;
     padding:10px

}

/* hvordan retter jeg billedet til*/

main{
margin:20px;
padding: 200px 100px;
border:5px solid #ffeb88;    
}

/* hvordan får jeg denne boks mere kvadratisk*/ 

.nyesteopskrifter{
padding:90px 80px;
background-color:#292920;
}

main a{   
text-align: center;
}

main a h1{
font-weight:bold;
font-size:90px;
}
main a h1:hover{   
     color: #ffeb88;
     font-size:92px;
     }

 main a h3:hover{   
          color: #ffeb88;
          font-size:20px;
          }
footer{
display: flex;
justify-content: space-around;
padding-bottom:20px;
}

footer a:hover{
 color: #ffeb88;
 font-size:17px;
}
